html, body {
    width:  100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

img {
    display: none;
}

/* center container on screen */
#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;          
}